.image {
  width: 0px;
  height: 500px;
  transition: all 0.3s ease-out;
}

.mem-slider__wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#button-1:checked ~ .slides > .slide-1 > .image{
  width: 500px;
}

#button-2:checked ~ .slides > .slide-2 > .image{
  width: 500px;
}

#button-3:checked ~ .slides > .slide-3 > .image{
  width: 500px;
}

#button-4:checked ~ .slides > .slide-4 > .image{
  width: 500px;
}

#button-1:checked ~ .text-slides > .text-1{
  font-size: 18px;
  width: fit-content;
}

#button-2:checked ~ .text-slides > .text-2{
  font-size: 18px;
  width: fit-content;
}

#button-3:checked ~ .text-slides > .text-3{
  font-size: 18px;
  width: fit-content;
}

#button-4:checked ~ .text-slides > .text-4{
  font-size: 18px;
  width: fit-content;
}

.mem-slider__slides {
  display: flex;
}

.text {
  font-size: 0px;
  display: block;
  width: 0px;
}